@charset "utf-8";
/* CSS Document */

html, body{
	margin: 0;
	padding: 0;
	background-color: cornflowerblue;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}

.header {
	width: 100%;
	height: 70px;
	background: yellow;
	position: fixed;
}

.imgbox {
	background-color: white;
	height: 500px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.bgimage1 {
	background-image: url("images/chair.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 225px;
	width: 225px;
}

.bgimage2 {
	background-image: url("images/chest_of_draws.jpg");
	background-position: center;
	background-repeat: no-repeat;
	height: 225px;
	width: 225px;
}

.bgimage3 {
	background-image: url("images/table.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 225px;
	width: 225px;
}