html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer { 
    color: white;
    background-color: rgba(0, 0, 0, 0.87);
    text-align: center;
}

footer a {
    color: white;
}

.margin-right {
    margin-right: 60px;
}

.padding {
    padding: 10px 10px 10px 10px;
}

.border {
    border: 2px solid #000000;
}

.my_card {
    width: 19rem;
    height: auto;
    padding: 7px;
    border: 2px solid #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 8px;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.center {
    justify-content: center;
    text-align: center;
}

.card_group {
    display: flex;
	flex-wrap: wrap;
}

.my_card a {
    font-size: 1.2rem;
}

.nav-link {
    font-size: 2rem;
}

.viewport {
    display: grid;
    grid-template-rows: 60px 500px auto 1fr 100px 30px;
    grid-template-columns: auto 40% 40% auto;
}

header {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 1;
}

.body-full {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
}

.body-full-top {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 5px;
}

.hero {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 2;
    background-color: rgba(5, 218, 171, 0.87);
    border: 2px solid #000000;
    display: grid;
    grid-template-columns: auto 45% 45% auto;
}

.hero div {
    height: 80%;
    margin-top: 1.5%;
    margin-bottom: 5%;
}

.hero ul {
    margin-top: 70px;
    list-style: none;
}

.body-left {
    grid-column-start: 2;
    grid-column-end: 3;
}

.body-right {
    grid-column-start: 3;
    grid-column-end: 3;
}

footer {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row: 6;
}

nav {
    background-color: rgba(29, 154, 212, 0.87);
    width: calc(100% - 4px);
    height: 60px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}
  
nav a {
    padding-left: 13px;
    padding-right: 13px;
    margin-left: 8px;
    height: 60px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    line-height: 60px;
}

nav a:hover {
    background-color: rgba(26, 122, 167, 0.87);
}

main {
  padding-top: 50px;
}

.btn {
    display: block;
    margin: 0 20px;
    width: 12em;
    padding: 10px;
    border: 2px solid #000000;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #ffffff !important;
    background-color: #3f3ff5 !important;
    font-weight: bold;
    -webkit-appearance: none;
    appearance: none;
    text-decoration: none;
    margin-bottom: 10px;
}

/* Forms */
  /* Style the form with a coloured background, along with curved corners and a drop shadow */
  
  
    .markdown-body form{
        margin: 20px auto;
        padding: 40px 20px;
        overflow: auto;
        background: #ffffff;
        border: 1px solid #666;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;  
        border-radius: 5px;
    }
  
  
    /* Give form elements consistent margin, padding and line height */
  
    .markdown-body form ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .markdown-body form ul li {
        margin: .9em 0 0 0;
        padding: 0;
    }
    
    .markdown-body form * {
        line-height: 1em;
    }
  
  
    /* The field labels */
  
    .markdown-body label {
        display: block;
        float: left;
        clear: left;
        text-align: right;
        width: 15%;
        padding: .4em 0 0 0;
        margin: .15em .5em 0 0;
    }
  
  
    /* The fields */
  
    .markdown-body input, .markdown-body select, .markdown-body textarea {
        display: block;
        margin: 0;
        padding: .4em;
        width: 80%;
    }
  
    .markdown-body input, .markdown-body textarea, .date {
        border: 2px solid #666;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;    
        border-radius: 5px;
        background: #fff;
    }
  
    .markdown-body input {
        font-size: .9em;
    }
  
    .markdown-body select {
        padding: 0;
        margin-bottom: 2.5em;
        position: relative;
        top: .7em;
    }
  
    .markdown-body textarea {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size: .9em;
        height: 5em;
        line-height: 1.5em;
    }
  
    .markdown-body textarea#content {
        font-family: "Courier New", courier, fixed;
    }
    
  
    /* Place a border around focused fields */
  
    .markdown-body form *:focus {
        border: 2px solid #7c412b;
        outline: none;
    }
  
  
    /* Display correctly filled-in fields with a green background */
  
    .markdown-body input:valid, textarea:valid {
        background: #efe;
    }
  
  
    /* Submit buttons */
  
    .buttons {
        text-align: center;
        margin: 40px 0 0 0;
    }
    
    .markdown-body input[type="submit"] {
        display: inline;
        margin: 0 20px;
        width: 12em;
        padding: 10px;
        border: 2px solid #7c412b;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;  
        border-radius: 5px;
        color: #000000;
        background: #008800;
        font-weight: bold;
        -webkit-appearance: none;
        appearance: none;
    }
    
    .markdown-body input[type="submit"]:hover, .markdown-body input[type="submit"]:active {
        cursor: pointer;
        background: #00aa00;
        color: #000000;
    }
    
    .markdown-body input[type="submit"]:active {
        background: #eee;
        -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
        -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
        box-shadow: 0 0 .5em rgba(0, 0, 0, .8) inset;
    }