.d1 {
    background-color: blue;
}

.d2 {
    background-color: purple;
}

.d3 {
    background-color: yellow;
}

.d4 {
    background-color: red;
}

.d5 {
    background-color: green;
}

.d6 {
    background-color: purple;
}

.d7 {
    background-color: yellow;
}