@charset "utf-8";
/* CSS Document */

body {
	background-color: blue;
	font-family: Consolas;
}

.container {
	background-color: brown;
	border: 10px solid black;
	margin: 1%;
	width: 96%;
}
.box {
	margin: 4px;
	position: static;
	width: 100px;
	height: 100px;
	border: outset;
}


/*Box colours*/
.box-red {
	background-color: red;
}

.box-green {
	background-color: green;
}

.box-lime {
	background-color: lime;
}

.box-pink {
	background-color: pink;
}

.box-green {
	background-color: green;
}

.box-green2 {
	background-color: seagreen;/*#2E8B57*/
}

.box-other {
	background-color: darkseagreen;
}

.box-other2 {
	background-color: lightgoldenrodyellow;
}
