@charset "utf-8";
/* CSS Document */

html, body{
	margin: 0;
	padding: 0;
	background-color: white;
	width: 100%;
	height: 100%;
}

.header {
	width: 100%;
	height: 50px;
	background: #f73b84;
	position: fixed;
	overflow: hidden;
	box-shadow: 0px 0px 8px 2px #000000;
}
  
.header a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.header img {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 0 0;
	text-decoration: none;
	font-size: 17px;
	width: 155px;
}

.para {
	padding: 40px;
	height: 100%;
}

.imgbox {
	background-color: #f73b84;
	height: 500px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.footer {
	background-color: #111111;
	color: white;
	height: 50px;
	align-items: center;
	display: flex;
	justify-content: center;
}

.bgimage1 {
	background-image: url("images/map.png");
	background-position: center;
	background-repeat: no-repeat;
	height: 248px;
	width: 360px;
}

#fade {
	height: 200px;
	margin-top: 20%;
}

#fade img {
	padding-top: 5%;
	padding-left: 35%;
	width: 30%;
	height: 50%;
	text-align: center;
	justify-content: center;
}

#contact {
	color: white;
	background-color: #db256b;
	margin: 20px;
	padding: 20px;
	height: 90%;
	box-shadow: 0px 0px 8px 2px #000000;
	border-radius: 15px;
}

#contact input {
	color: black;
	background-color: wheat;
	margin: 3px;
	padding: 3px;
	width: 35%;
	border-radius: 15px;
}

#contact textarea {
	color: black;
	background-color: wheat;
	margin: 3px;
	padding: 3px;
	width: 95%;
	height: 50%;
	border-radius: 15px;
}

#contact input[type="submit"] {
	color: white;
	background-color: green;
	margin: 3px;
	padding: 3px;
	width: 95%;
	border-radius: 15px;
}

#map {
	height: 400px; /* The height is 400 pixels */
	width: 100%; /* The width is the width of the web page */
}